#header{
	text-align:center;
  	padding-bottom: 30px;
  	padding-left: 0px;
  	padding-right: 0px;
  	padding-top:30px;
  	background: lightgray; 	
}
#rectangleGray{
	height:5px;
	margin-bottom:70px;
	margin:5px;
	margin-left:0px;
	margin-right:0px;
  	background: rgb(79,58,39); 
}
#rectangleRed {
	height:5px;
	margin-bottom:70px;
  	background: rgb(208, 54, 54); 
}

#loginForm {
	width:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;	
}
#loginEmail{
	width:200px;
	border-radius: 3px;
	border:1px solid lightgray;
}

#loginPassword{
	width:200px;
	border-radius: 3px;
	border:1px solid lightgray;
}

#loginBtn{
	color:white;
	border-radius: 0px;
	border:0px;
	background:rgb(79,58,39);
	font-size: 20px;
	width:200px;
}
